{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Donate</title>
{% endblock %}
{% block styles %}
<link href="{% static 'css/donate.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="wave" id="one">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                <h2>Giving</h2>
                <br>
                <p>Giving to the gospel is an act of worship. We encourage giving as it make you partners with Christ in
                    preaching his word. In the book of
                    Acts Conlias was remembered because of his giving. May God remember you too.</p>
            </div>
        </div>
    </div>

</section>

<section id="two" style="padding-top:50px;">
    <div class="container">

    <h2>Banking Details</h2><br><br>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-content">
                        <div class="special-offer ">
                            <!--<div class="arrow_box text-center">
                                <span class="white subtitle bold"> 25% OFF</span>
                            </div>-->
                        </div>

                        <h6 class="primary-color text-right"></h6>
                        <h6 class="black"><a href="#" target="_blank">CABS Bank</a></h6>
                        <p class="">
                            Account Name : Success Chinomona <br>
                            Account Number : 91760702 <br>
                            Sort Cord : 04-00-04 <br>
                            <br><br>

                        </p></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-content">
                        <div class="special-offer ">
                            <!--<div class="arrow_box text-center">
                                <span class="white subtitle bold"> 25% OFF</span>
                            </div>-->
                        </div>

                        <h6 class="primary-color text-right"></h6>
                        <h6 class="black"><a href="#" target="_blank">CABS Bank</a></h6>
                        <p class="">
                            Account Name : Success Chinomona <br>
                            Account Number : 91760702 <br>
                            Sort Cord : 04-00-04 <br>
                            <br><br>

                        </p></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-content">
                        <div class="special-offer ">
                            <!--<div class="arrow_box text-center">
                                <span class="white subtitle bold"> 25% OFF</span>
                            </div>-->
                        </div>

                        <h6 class="primary-color text-right"></h6>
                        <h6 class="black"><a href="#" target="_blank">CABS Bank</a></h6>
                        <p class="">
                            Account Name : Success Chinomona <br>
                            Account Number : 91760702 <br>
                            Sort Cord : 04-00-04 <br>
                            <br><br>

                        </p></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="three" style="padding-top:50px;">

                <div class="container testimonials">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 col-10 offset-1">

                            <img class="rounded mx-auto d-block"  src="{% static 'img/double-quotes.png'%}" alt="image">
                            <br><br>
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                                <div class="carousel-inner mt-0">
                                <div class="carousel-item text-center active">
                                    <h5 class="m-0 pt-3 px-4  black">A gift opens the way and ushers the giver into the presence of the great </h5>
                                    <h6 class="mt-4 mb-0"><strong class="primary-color">Proverbs 18:16</strong></h6>

                                </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
</section>
{% endblock %}

