{% load static %}
<footer >
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   <div class="container" >
       <div class="row">
           <div class="col-lg-4 text-center">
               <br><br><br>
               <h3>Contact us</h3>
               <p>Next to Chitungwiza welcomes you sign</p>
               <p>Seke/Dema Road</p>
               <p>+263 774 754 499</p>
               <p>+263 774 754 499</p>
               <p>prophetsuccess@gmail.com</p>
           </div>
             <div class="col-lg-4 text-center ">
               <br><br><br>
                <p> <i class="fab fa-twitter align-start"></i>   <i class="fab fa-facebook align-center">   </i> <i class="fab fa-youtube align-end"></i></p>
                 <p>About us</p>
                 <p>Contact us</p>
                 <p>Partner</p>
                 <p>Donate</p>
                 <p>Watch Testmonies</p>
             </div>
            <div class="col-lg-4 text-center">
               <br><br><br>
                <h3>Programs</h3>
                <p>Sunday Service</p>
                <p>Thursday Service</p>
                <p>All Night Prayer</p>
                <p>Shiloh</p>
                <p>Question and Answer</p>
             </div>

       </div>
   </div>
     <div class="container" >
       <div class="row">
           <div class="col-lg-12 text-center">
               <br><br>
               <hr>
                <h5>Developed @ &copy:CodeValley</h5>
           </div>
       </div>
   </div>
</footer>