{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link href="{% static 'css/home.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<section  id="one">
    <div class="carousel slide" data-ride="carousel" id="carouselExampleControls">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img alt="First slide" class="d-block w-100" id="banner" src="{% static 'img/banner-1.jpg'%}">
            </div>

        </div>
        <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleControls" role="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" data-slide="next" href="#carouselExampleControls" role="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section id="two" style="padding-top:60px;">
    <div class="container secondary">
        <div class="row">
            <div class="col">
                <h1>Our Mission</h1>
                <br><br>
                <p>Breaking Bondages Ministry is a prophetic and deliverance ministry with the main aim to deliver those
                    who are in bondage,to
                    enquire from God on matters that afflict the people of God. In the book of Samuel the children of
                    Israel went to enquire God's opinion
                    from a seer on matters that affected them. God has given us a seer Prophet Success to enquire on
                    issues affecting our lives and be delivered
                    by the power of God.</p>
            </div>
        </div>
    </div>
</section>
<section id="three" style="padding-top:60px;">

    <div class="content tours-homepage">
        <div class="container">
            <h1>Events</h1>
            <br><br>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4 mb-lg-0 mb-4">
                    <div class="card">

                        <a class="img-card" href="#">
                            <img alt="image" class="card-img-top" src="{% static 'img/sunday-card-1.jpg'%}">
                        </a>
                        <div class="card-content">
                            <div class="special-offer ">
                                <!--<div class="arrow_box text-center">
                                    <span class="white subtitle bold"> 25% OFF</span>
                                </div>-->
                            </div>

                            <h6 class="primary-color text-right"></h6>
                            <h6 class="black"><a href="#" target="_blank">Prayer Mountain</a></h6>
                            <p class="">
                                Merely setting foot at the Prayer Mountain entrance is enough for one to be healed and
                                delivered let alone entering the Prayer Mountain. In the images below are a few of the
                                many people that manifested upon entry into the Prayer Mountain. <a href="#"
                                                                                                    target="_blank"><span>... See more</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 mb-lg-0 mb-4">
                    <div class="card">

                        <a class="img-card" href="#">
                            <img alt="image" class="card-img-top" src="{% static 'img/Thursday-card.jpg'%}">
                        </a>
                        <div class="card-content">

                            <h6 class="primary-color text-right"></h6>
                            <h6 class="black"><a href="#" target="_blank">Men's All Night</a></h6>
                            <p class="">
                                The largest ever religious gathering for men South of the Sahara Over 80 000 men
                                gathered here at the Arena of liberty (PHD Ministries) in Waterfalls, Harare for the
                                powerful testimony packed Men’s All-night prayer service – Creating Men with Power
                                Part-2. <a href="#" target="_blank"><span>... See more</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 mx-auto ">
                    <div class="card">

                        <a class="img-card" href="#">
                            <img alt="image" class="card-img-top" src="{% static 'img/cross-over-card2.jpg'%}">
                        </a>
                        <div class="card-content">

                            <h6 class="primary-color text-right"></h6>
                            <h6 class="black"><a href="#" target="_blank">Ladies Night</a></h6>
                            <p class="">
                                Multitudes of Ladies gathered in the overflow sections attending the Powerful LADIES ALL
                                NIGHT PRAYER SERVICE . Women will be transformed into Women Of Valour .No one will go
                                back home the same. We give all glory to God. Mbiri Kuna Jesu. lectus <a href="#"
                                                                                                         target="_blank"><span>... See more</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="four" style="padding-top:50px;">

    <div class="content tours-homepage">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4 mb-lg-0 mb-4">
                    <div class="card">

                        <a class="img-card" href="#">
                            <img alt="image" class="card-img-top" src="{% static 'img/allnight.jpg'%}">
                        </a>
                        <div class="card-content">
                            <div class="special-offer ">
                                <!--<div class="arrow_box text-center">
                                    <span class="white subtitle bold"> 25% OFF</span>
                                </div>-->
                            </div>

                            <h6 class="primary-color text-right"></h6>
                            <h6 class="black"><a href="#" target="_blank">Prayer Mountain</a></h6>
                            <p class="">
                                Merely setting foot at the Prayer Mountain entrance is enough for one to be healed and
                                delivered let alone entering the Prayer Mountain. In the images below are a few of the
                                many people that manifested upon entry into the Prayer Mountain. <a href="#"
                                                                                                    target="_blank"><span>... See more</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 mb-lg-0 mb-4">
                    <div class="card">

                        <a class="img-card" href="#">
                            <img alt="image" class="card-img-top" src="{% static 'img/question.jpg'%}">
                        </a>
                        <div class="card-content">

                            <h6 class="primary-color text-right"></h6>
                            <h6 class="black"><a href="#" target="_blank">Men's All Night</a></h6>
                            <p class="">
                                The largest ever religious gathering for men South of the Sahara Over 80 000 men
                                gathered here at the Arena of liberty (PHD Ministries) in Waterfalls, Harare for the
                                powerful testimony packed Men’s All-night prayer service – Creating Men with Power
                                Part-2. <a href="#" target="_blank"><span>... See more</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 mx-auto ">
                    <div class="card">

                        <a class="img-card" href="#">
                            <img alt="image" class="card-img-top" src="{% static 'img/sunday-card-1.jpg'%}">
                        </a>
                        <div class="card-content">

                            <h6 class="primary-color text-right"></h6>
                            <h6 class="black"><a href="#" target="_blank">Ladies Night</a></h6>
                            <p class="">
                                Multitudes of Ladies gathered in the overflow sections attending the Powerful LADIES ALL
                                NIGHT PRAYER SERVICE . Women will be transformed into Women Of Valour .No one will go
                                back home the same. We give all glory to God. Mbiri Kuna Jesu. lectus <a href="#"
                                                                                                         target="_blank"><span>... See more</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="padding-top:60px;">
    <div class="container secondary">
        <h2>How can we pray for you?</h2>
        <br><br>
        <div class="row">
             <div class="col-md-12 col-lg-6">
                <p>In light of the current events everyone needs a prayer partner. The bible says in James 5: pray for another
                .Please send us your prayer request and we are willing to pray for you. At Breaking Bondages Ministries we have
                received many visitors and many have been delivered from their afflictions. Watch for other people's testmonies.
                </p><br>
                 <p>Please fill in the form and include all details and where you are contacting us from inside the prayer request
                 form. Remember the bible say in Isaih the Lord's hand is not shorteened nor his ear deaf to hear us. Distance
                 is not a barrier.</p>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="messages"></div>
                <div class="controls">

                    <div class="row">

                        <style>
                            #not_human { display: none }

                        </style>

                        <input id="not_human" name="name" type="text">

                        <div class="col-md-6">
                            <div class="form-group text-center">
                                <input class="form-control" data-error="Firstname is required." id="form_name" name="name"
                                       placeholder="First name" required="required"
                                       type="text">
                                <div class="help-block with-errors tiny mt-2"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group text-center">
                                <input class="form-control" data-error="Lastname is required." id="form_lastname" name="surname"
                                       placeholder="Last Name" required="required"
                                       type="text">
                                <div class="help-block with-errors tiny mt-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group text-center">
                                <input class="form-control" data-error="Valid email is required." id="form_email" name="email"
                                       placeholder="Email Address" required="required"
                                       type="email">
                                <div class="help-block with-errors tiny mt-2"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group text-center">

                                <input class="form-control" id="form_phone" name="phone" placeholder="Phone Number"
                                       type="tel">
                                <div class="help-block with-errors tiny mt-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group text-center">
                                <textarea class="form-control" data-error="Please,leave us a message." id="form_message"
                                          name="message" placeholder="please write the request" required="required"
                                          rows="3"></textarea>
                                <div class="help-block with-errors tiny mt-2"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input class="btn btn-primary px-4 btn-send" type="submit" value="Send Prayer Request">
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
</section>
<section style="padding-top:60px;">
    <div class="container">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>

</section>
{% endblock %}


