{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Partner with us</title>
{% endblock %}
{% block styles %}
<link href="{% static 'css/partner.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section id="one" style="padding-top:60px;">
    <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
        <h2>Why Become A Partner</h2>
        <p>Every child of God has a duty to play in the kingdom of God and one of them is to partner in the preaching of the gospel.
        In the book of Act the apostoles wanted to preach the gospel and they acquired everything that the church could offer and
        it was not enough up until a time when one man Joses managed to bail out the church and he was recorded as a Son of Consolation.
         Partnering with the church is one of the most rewarding activities a man can ever do because the bible has clearly stated that there
            are rewards for those who partner, examples are Joses in Acts and Colileas. These man have been recorded in the bible for
            preaching the gospel through their giving.
        </p><br><br>
        <p>One of the most asked questions amongst the children of God's congregation is the question. What is God's purpose for me?
        or  some ask saying What is my purpose? The answer to this is to preach the gospel as the Master said "Go ye therefore and preach the gospel",
        however preaching can be achieved by partnering as sometimes we cannot all be the mouth piece but we can help the church through our finance
        which can be used to service PA system, buy radio and TV time and many other activities in the church.</p>
        <br><br>
        <h2>Join Shiloh</h2>
        <p>Shiloh is a partnership program that the Man of God started and he has been the Major partner. The proceeds are used to
        run day to day activities of the Ministry and charity.</p>
        <i>The hand that gives is blessed than that which receives</i>
    </div>

</section>
<section id="two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <br>
                <button class="btn btn-lg btn-primary"  disabled type="button">Partner with us</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}

